<a href="https://colab.research.google.com/github/karandeep1729/Python-Programming/blob/main/Comprehensions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Comprehensions***

In python, comprehensions are a concise way to create new sequences (lists, sets, or dictionaries) in a single line of code.

**IDEA:** Instead of writing multiple lines with a for loop to transform or filter data, you can do it in one expressive line.

***UseCase:***

1. **Readability:** Code looks cleaner and closer to natural language.

2. **Less Code:** Fewer lines compared to loops.

3. **Pythonic Style:** Considered more elegant and modern way in Python.

## ***List Comprehensions:***

**[expression for item in iterable if condition]**

* expression: What to do with each item
* item: Variable representing each element
* iterable: Source data (list, string etc)
* if condition(Optional): Filter data

In [ ]:

square_list = []
for i in range(1,6):
    square_list.append(i**2)

print(square_list)

[1, 4, 9, 16, 25]

In [ ]:
squares = [i**2 for i in range(1,6)]
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
even_list = []
for i in range(1,11):
    if i%2==0:
        even_list.append(i)

print(even_list)

[2, 4, 6, 8, 10]

In [ ]:
evens = [x for x in range(1,11) if x%2==0]
print(evens)

[2, 4, 6, 8, 10]

In [ ]:
# Create a list store 5 words, and then convert every word to Uppercase.
word_list = ['Kota','Jaipur','Bangalore','Mysore','Coorg']
# for x in range(len(word_list)):
#     word_list[x] = word_list[x].upper()

In [ ]:
print(word_list)

['Kota', 'Jaipur', 'Bangalore', 'Mysore', 'Coorg']

In [ ]:
upper_case_list = [x.upper() for x in word_list]

In [ ]:
print(upper_case_list)

['KOTA', 'JAIPUR', 'BANGALORE', 'MYSORE', 'COORG']

**Convert a list of temperatures from Celcius to Farhenheit. Given list = [20,30,35,40] convert each to Fahrenheit using the formula F = Cx 9/5 + 32**

In [ ]:
celcius = [20,30,35,40]

fahrenheit = []
for x in celcius:
    fahrenheit.append(x * (9/5) + 32)

fahrenheit

[68.0, 86.0, 95.0, 104.0]

In [ ]:
fahrenheit_list = [x * 9/5 + 32 for x in celcius]
print(fahrenheit_list)

[68.0, 86.0, 95.0, 104.0]

Extract emails from a list of strings:
["user1@gmail.com","abcd","admin@yahoo.com","hello","alpha@hotmail.com","dummy","kabir@intellipaat.in"]
extract only those containing '@'

In [ ]:
emails = ["user@gmail.com","a","admin@yahoo.com","hello","alpha@hotmail.com","dum.my","kabir@intellipaat.in"]
print(len(emails[0]))

14

In [ ]:
valid_emails = [x for x in emails if '@' in x or len(x)<2]

In [ ]:
print(valid_emails)

['user@gmail.com', 'a', 'admin@yahoo.com', 'alpha@hotmail.com', 'kabir@intellipaat.in']

In [ ]:
# Create pairs of all the numbers between 1 to 3
pairs = []
for x in range(1,4):
    for j in range(1,4):
        pairs.append((x,j))

In [ ]:
print(pairs)

[(1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (2, 3), (3, 1), (3, 2), (3, 3)]

In [ ]:
pairs = [(x,y) for x in range(1,4) for y in range(1,4)]
print(pairs)

[(1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (2, 3), (3, 1), (3, 2), (3, 3)]

In [ ]:
# Given a list with 5 words convert that list storing the length of all those words.

# [apple,banana,guava,pineapple,kiwi]
# [5,6,5,9,4]

In [ ]:
fruits = ['apple','banana','guava','pineapple','kiwi']
fruits

['apple', 'banana', 'guava', 'pineapple', 'kiwi']

In [ ]:
length_fruits = [len(x) for x in fruits]
length_fruits

[5, 6, 5, 9, 4]

**[expression_if_true if condition else expression_if_false for item in iterable]**

In [ ]:
# Write a program to print whether a number is even or odd for 1-10.

label_no = [(x,'Even') if x%2==0 else (x,'Odd') for x in range(1,11)]
print(label_no)

[(1, 'Odd'), (2, 'Even'), (3, 'Odd'), (4, 'Even'), (5, 'Odd'), (6, 'Even'), (7, 'Odd'), (8, 'Even'), (9, 'Odd'), (10, 'Even')]

In [ ]:
fruits = ['Apple','Banana','Guava','Pineapple','Kiwi']
fruits

new_li = [x.upper() if len(x) > 5 else x.lower() for x in fruits]

In [ ]:
new_li

['apple', 'BANANA', 'guava', 'PINEAPPLE', 'kiwi']

***Just like list comprehensions create lists, dictionary comprehensions create dictionaries using a shorted and more readble syntax.***

**{key_expression : value_expression for x in iterable}**

In [ ]:
words = ['Python','Programming','Language','Syntax','Errors','Indentation']
length_word = {x : len(x) for x in words}
print(length_word)

{'Python': 6, 'Programming': 11, 'Language': 8, 'Syntax': 6, 'Errors': 6, 'Indentation': 11}

In [ ]:
# Create a dictionary to store all the even squares from 1 to 20 and the square will be the value
# and the actual value will become the key.


square_di = {x : x**2 for x in range(1,21) if x%2==0}
square_di

{2: 4,
 4: 16,
 6: 36,
 8: 64,
 10: 100,
 12: 144,
 14: 196,
 16: 256,
 18: 324,
 20: 400}

In [ ]:
# Given a dict: original, filter only those key-value pairs with value > 10
original = {1:10,2:15,3:7}
new_di = {k: original[k] for k in original if original[k]>10}

In [ ]:
print(new_di)

{2: 15}

In [ ]:
marks = [85,42,77,30,48,93,51]
# Criteria -> Greater than equal to 50 -> pass else Fail
# Store the result in a dict as marks your key and result as value (pass or fail)

result_di = {x:'Pass' if x>=50 else 'Fail' for x in marks}

In [ ]:
print(result_di)

{85: 'Pass', 42: 'Fail', 77: 'Pass', 30: 'Fail', 48: 'Fail', 93: 'Pass', 51: 'Pass'}

***Set Comprehensions***
Just like list and dictionary comprehensions, set comprehensions let you build sets using a compact syntax.

In [ ]:
squares = {x**2 for x in range(1,16)}
print(squares)

{64, 1, 121, 225, 4, 36, 100, 196, 9, 169, 16, 49, 81, 144, 25}

In [ ]:
# get all the vowels from the word 'Programming' using Set comprehensions
word = 'Programming'

vowels = {x for x in word if x in 'aeiou'}
print(vowels)

{'i', 'a', 'o'}