<a href="https://colab.research.google.com/github/karandeep1729/Python-Programming/blob/main/CompletePython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello World')

Hello World

In [ ]:
print(20+50)

70

In [ ]:
print('My name is Kabir')

My name is Kabir

In [ ]:
# Python is programming language.
# Python is high level programming language.
# The language which is easier for users to understand.
# Python is both interpreted and compiled language.
# Python is dynamically typed language.
# Python is case sensitive language.
# Python is object oriented programming language.

In [ ]:
# class Main
# {
#     public static void main(String[] args)
#     {
#         System.out.println('Hello');
#         System.out.println('World')
#     }
# }  Java

In [ ]:
print('Hello')  #Python

Hello

In [ ]:
# Python is interpreted language.
# Interpreter: Which exectues the code line by line and give us the output.
print('Hello to class')
print('Good Day')
print('We are learning Python')  #Program over.
print('Learn')     #This will never be executed.

Hello to class
Good Day

NameError: name 'prin' is not defined

In [ ]:
# In Python, at compilation it will check for two things:
# 1. Indentation
# 2. Syntax.
# English: Jaipur, Ooty, Bangalore.

In [ ]:
print('Samarth')
print('Seema')
 print('Monish')

IndentationError: unexpected indent (ipython-input-11-2805166182.py, line 3)

In [ ]:
# Python is case sensitive language.
# Capital Letter 'A' will never be equal to small letter 'a'
# Both will be considered to be different.
Print('Hello World')  # Capital P is not equal to small p. print() Print() both are different.

NameError: name 'Print' is not defined

In [ ]:
# Python is dynamically typed language.
# Variables will be assigned to their data type at time
print(type(50))

<class 'int'>

In [ ]:
print(type('Place'))   #Checking their category

<class 'str'>

In [ ]:
# We use '#' to create comments

# **Variables**

In [ ]:
name = 'Kabir' # To store strings we can use both '' and ""
age = 25
print(name)
print(age)

Kabir
25

In [ ]:
# Our variable names can not start with a number.
34_a = 50
print(34_a)

SyntaxError: invalid decimal literal (ipython-input-18-1467733093.py, line 2)

In [ ]:
# Only '_' as special characters are allowed while creating a variable.
var_ = 40
print(var_)

40

In [ ]:
a = 50
b = 30
print(a)
print(b)

50
30

In [ ]:
a,b = 50,30
# We can create more than one variable in the same line.
print(a,b)

50 30

# **Data Types**


1.   Integers
2.   Float
3.   Boolean
4.   Strings
5.   Complex Number

In [ ]:
# Float -> Integers with decimals.
x = 98.20
print(type(x))

<class 'float'>

In [ ]:
# Boolean -> True (1) and False (0)
var = True
var2 = False
print(type(var))
print(type(var2))

<class 'bool'>
<class 'bool'>

In [ ]:
# Strings
sentence = 'Today is the first day of learning Python'
a = 'T'
print(type(sentence))
print(type(a))

<class 'str'>
<class 'str'>

In [ ]:
# Complex Number
num = 5 + 10j    # j is the reserved letter to create complex number.
num2 = 10 - 8J
print(num+num2)
print(type(num2))

(15+2j)
<class 'complex'>

In [ ]:
print(type('True'))
# A: Integer
# B: String
# C: Bool
# D: Error

<class 'str'>

In [ ]:
print(type(True))

<class 'bool'>

# **User Input:**

In [ ]:
name = input('Enter your name: ')
age = input('Enter your age: ')      #10:33 PM.
print('Your name is',name,'Your age is',age)

Enter your name: Kabir
Enter your age: 25
Your name is Kabir Your age is 25

# **Operators**

In [ ]:
var = 30  # We are storing the value 30 in variable var with the help of '='. This is also a type of operator.

**Arithmetic Operators**

In [ ]:
a = 30
b = 7
print("Addition:",a+b)    # Addition: +
print("Subtraction:",a-b)    # Subtraction: -
print("Multiplication:",a*b)    # Multiplication: *
print("Remainder:",a%b)    # Remainder: %
print("Quotient:",a/b)    # Quotient: /
print('Floor Division:',a//b)   #Floor Division: //
print('Exponential:',a**b)      # Exponential: **

Addition: 37
Subtraction: 23
Multiplication: 210
Remainder: 2
Quotient: 4.285714285714286
Floor Division: 4
Exponential: 21870000000

In [ ]:
print(7**3)  #Cube of 7

343

In [ ]:
num = int(input('Enter first value: '))
num2 = int(input('Enter second value: ')) #By default everytime this input fxn will consider your data as a String
print(num+num2)

Enter first value: 43
Enter second value: 23
66

In [ ]:
print(type(num))

<class 'str'>

In [ ]:
a = bool(input('Enter value: '))
c = float(input('Enter value: '))
print(a)
print(c)

Enter value: True
Enter value: 45
True
45.0

In [ ]:
a = 30
b = 7
c = a/b
print(round(c,2))

4.29

**Comparision Operators**

In [ ]:
x = 20
y = 20
print(x>y)   # > greater than
print(x<y)   # < less than
print(x==y)  # == to check if both the values are equal
print(x!=y)  # !=  not equals to
print(x>=y)  # >= greater than or equal to   True
print(x<=y)  # <= less than or equal to      True

False
False
True
False
True
True

**Assignment Operator**

In [ ]:
a = 50          # = Assign Operator
a +=30          #a = a + 30   Add and assign
a -=

80

In [ ]:
x = 20
x *= 6     # x = x*6  Multiply and assign
print(x)

120

In [ ]:
num = 100
num //=10
num %= 6
num *= 4
num += 20
num -= 5
print(num)    #  19, 19, 31, 20

31

**Logical Operators**

![image.png]()

In [ ]:
print(True and False)

False

In [ ]:
print(True or False)

True

In [ ]:
print(not True)

False

**Membership Operators**

In [ ]:
# in  -> True if value is present
# not in -> True if value is absent
var = 'Kartik'
print('t' in var)
print('T' not in var)   #-> True / False

True
True

# **Conditional Statements**

In [ ]:
a = int(input('Enter first number: '))
b = int(input('Enter second number: '))
if a>b:
    print('A is greater than B')
elif b>a:        #elif -> else if (used to check some other condition)
    print('B is greater than A')
else:
    print('Both A and B are equal')

Enter first number: 10000
Enter second number: 9500
A is greater than B

In [ ]:
# 27 -> Odd
# 22 -> Even
# If any number divisible by 2 and remainder = 0, even number
# if any number divisible by 2 and remainder != 0, odd number

num = int(input('Enter any number: '))
if num%2 == 0:
    print('Even Number')
else:
    print('Odd Number')

Enter any number: 2658
Even Number

In [ ]:
# Write a program to check the eligibility for driver license
# if the age of the person is greater than or equal to 18 -> Eligible for driving license
# if the age of the person is less than 16 -> Not Eligible
# if the age of the person is greater than 16 and less than 18 -> Eligible for learning license.

In [ ]:
age = int(input('Enter your age: '))
if age < 16:
    print('You are not eligible for license')
elif age>=16 and age < 18:
    print('You are eligible for learning license')
else:
    print('You are eligible for driving license')

# 14
# 17
# 16
# 18
# 20

Enter your age: 23
You are eligible for driving license

# **Loops**

1.   *While Loop*
2.   *For Loop*

In [ ]:
count = 0
while count < 10:
    print('Hello to Everyone')
    count+=1

print(count) #OP: ?

Hello to Everyone
Hello to Everyone
Hello to Everyone
Hello to Everyone
Hello to Everyone
Hello to Everyone
Hello to Everyone
Hello to Everyone
Hello to Everyone
Hello to Everyone
10

In [ ]:
var = 1
while var <= 10:
    print(var)
    var += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
num = int(input('Enter any number: '))
var = 1
while var <= 10:
    print(num,"x",var,"=",num*var)
    var+=1

Enter any number: 19
19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
19 x 6 = 114
19 x 7 = 133
19 x 8 = 152
19 x 9 = 171
19 x 10 = 190

In [ ]:
var = 0
while var <=5:
    print(var)
    var+=2

print(var)

0
2
4
6

In [ ]:
var = 20
while var>0:
    print(var)
    var  //= 2

20
10
5
2
1

In [ ]:
var = True
count = 0
while var==True:
    if count==5:
        var = False
    print('Hello world')
    count += 1
print(count)

Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
6

In [ ]:
# For Loops

for x in range(5):  # x is nothing but a variable that will be created by default when we will run this for loop
    print('Hello World',x)   # default value of x will be equal to zero.

Hello World 0
Hello World 1
Hello World 2
Hello World 3
Hello World 4

In [ ]:
for var in range(11):   # here x will start from 0 and it will go upto  9
    print('Learning Python',var)

Learning Python 0
Learning Python 1
Learning Python 2
Learning Python 3
Learning Python 4
Learning Python 5
Learning Python 6
Learning Python 7
Learning Python 8
Learning Python 9
Learning Python 10

In [ ]:
for i in range(50):
    print(i)  # OP: 0 to 49

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [ ]:
for x in range(5,20):   # (starting range, stopping range)
    print(x)  #Now here, the value of x instead of starting from 0, it will start from 5.

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
# Can you write program for multiplication table using for loop.
num = int(input('Enter any number: '))
for x in range(1,11):
    print(num*x)

Enter any number: 24
24
48
72
96
120
144
168
192
216
240

In [ ]:
var = 0
while var<15:
    print(var)
    var+=3

0
3
6
9
12

In [ ]:
for x in range(10,25,3):   #(staring range, stopping range, step size)
    print(x)

10
13
16
19
22

In [ ]:
for var in range(10,0,-1):
    print(var)  #starting range = 10, stopping range = 0, step size = -1 (Decrement by 1)

10
9
8
7
6
5
4
3
2
1

In [ ]:
# Can you print all the even numbers between 1 and 50 using loop.
var = 1
while var < 51:
    if var%2==0:
        print(var)
    var+=1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [ ]:
# Break and continue
for i in range(1,31):
    if i==15:
        print('This is my birth date, this is the date I was looking for',i)
        break # Break is used to terminate your loop .
        print('Hello') #When break will execute your loop will be over.
    print('Today the date is:',i)

Today the date is: 1
Today the date is: 2
Today the date is: 3
Today the date is: 4
Today the date is: 5
Today the date is: 6
Today the date is: 7
Today the date is: 8
Today the date is: 9
Today the date is: 10
Today the date is: 11
Today the date is: 12
Today the date is: 13
Today the date is: 14
This is my birth date, this is the date I was looking for 15

In [ ]:
# Continue: It is used to skip the iteration
var = 0
while var < 20:
    if var%2==0:
        var+=1
        continue
    print(var)
    var+=1

1
3
5
7
9
11
13
15
17
19

In [ ]:
for x in range(1,31):
    if x==14 or x==19 or x==25:
        continue    # Continue will skip the iteration and directly jump to next value of variable.
    print('Today the date is:',x)

Today the date is: 1
Today the date is: 2
Today the date is: 3
Today the date is: 4
Today the date is: 5
Today the date is: 6
Today the date is: 7
Today the date is: 8
Today the date is: 9
Today the date is: 10
Today the date is: 11
Today the date is: 12
Today the date is: 13
Today the date is: 15
Today the date is: 16
Today the date is: 17
Today the date is: 18
Today the date is: 20
Today the date is: 21
Today the date is: 22
Today the date is: 23
Today the date is: 24
Today the date is: 26
Today the date is: 27
Today the date is: 28
Today the date is: 29
Today the date is: 30

In [ ]:
# Run a loop from 1 to 50, if there's any number that's divisible by 7 skip that iteration,
# if there's a number which is divisble by 23 break the loop else print all those values.

In [ ]:
# Calculator()

Enter first number: 54
Enter second number: 12
Addition: 66
Subtraction: 42
Multiplication: 648

In [ ]:
for x in range(1,51):
    if x%23==0:
        break
    elif x%7==0:
        continue
    print(x)

1
2
3
4
5
6
8
9
10
11
12
13
15
16
17
18
19
20
22

# **Unsequential Data Types**


1.   **Dictionaries**
2.   **Sets**

# **Sequential Data Types**


1.   **List**
2.   **Tuple**
3.   **Strings**

# **Mutable/Changable**
**After it's creation we can add, remove, update the info/data such data types are known as mutable**

# **Immutable/Unchangable**
**After it's creation we cannot update, add, remove values from the structure**

# **Dictionaries**
Dictionaries are used to store your data in key, value pairs. Dictionaries do not allow duplicates and dictionaries are mutable.

In [ ]:
# name = 'Rahul'
# age = 24
# address = 'Bangalore'
# job_desc = 'Data Scientist'
# Syntax:
# dict_name = {key : value , key : value}


person_details = {'name' : 'Rahul', 'age' : 24 , 'address' : 'Bangalore' , 'job_desc' : 'Data Scientist'}
print(person_details)

{'name': 'Rahul', 'age': 24, 'address': 'Bangalore', 'job_desc': 'Data Scientist'}

In [ ]:
marks = {'Rahul':26, 'Kartik': 29, 'Hari': 22, 'Vinod': 16, 'Samiksha': 30}
print(marks)

{'Rahul': 26, 'Kartik': 29, 'Hari': 22, 'Vinod': 16, 'Samiksha': 30}

In [ ]:
# Accessing any value in our dictionary
# We use keys to access any value in our dictionary
print(marks['Hari'])
print(person_details['job_desc'])

22
Data Scientist

In [ ]:
# How we can update our value in our dictionary.
print(person_details)

{'name': 'Rahul', 'age': 24, 'address': 'Bangalore', 'job_desc': 'Data Scientist'}

In [ ]:
# Now we want  to change the address of this person from Bangalore to Pune
person_details['address'] = 'Pune'
print(person_details)

{'name': 'Rahul', 'age': 24, 'address': 'Pune', 'job_desc': 'Data Scientist'}

In [ ]:
# Adding a new value to our dictionary.
person_details['Salary'] = 65000
print(person_details)

{'name': 'Rahul', 'age': 24, 'address': 'Pune', 'job_desc': 'Data Scientist', 'Salary': 65000}

In [ ]:
# Now we want to access all the keys of our dictionary
print(person_details.keys())  # Used to access all the keys of our dictionary
print(person_details.values()) # Used to access all the values of our dictionary

dict_keys(['name', 'age', 'address', 'job_desc', 'Salary'])
dict_values(['Rahul', 24, 'Pune', 'Data Scientist', 65000])

In [ ]:
# Deleting a key from our dictionary
del person_details['age']  # We use del keyword to remove any key from our dictionary
print(person_details)

{'name': 'Rahul', 'address': 'Pune', 'job_desc': 'Data Scientist', 'Salary': 65000}

**Create a dictionary, store at-least 5 key value pair make sure there's one duplicate key, and then perform these operations**


1.   Add two new keys into your dict.
2.   Remove first key from your dict.
3.   Update any key from your dict.

In [ ]:
di = {
    'curve' : 2024,
    'kushaq' : 2025,
    'be6e' : 2025,
    'hector': 2021,
    'curve' : 2023
}
print(di)
# Dictionaries do not allow duplicates, key will be updated via the latest value.

{'curve': 2023, 'kushaq': 2025, 'be6e': 2025, 'hector': 2021}

In [ ]:
di['venue'] = 2024
di['harrier'] = 2022
print(di)

{'curve': 2023, 'kushaq': 2025, 'be6e': 2025, 'hector': 2021, 'venue': 2024, 'harrier': 2022}

In [ ]:
del di['curve']
print(di)

{'kushaq': 2025, 'be6e': 2025, 'hector': 2021, 'venue': 2024, 'harrier': 2022}

In [ ]:
di['hector'] = 2019
print(di)

{'kushaq': 2025, 'be6e': 2025, 'hector': 2019, 'venue': 2024, 'harrier': 2022}

# **Sets**

**Sets are unique and unordered collection of data elements. Sets are mutable**

In [ ]:
basket = {50,'Apple','Banana','Grapes','Avocado','Papaya','Pineapple','Avocado','Grapes',50,45.65}
print(basket)

{'Avocado', 'Grapes', 45.65, 50, 'Apple', 'Pineapple', 'Banana', 'Papaya'}

In [ ]:
# Let's add some new value to our set.
basket.add('Blue berries')  # we use add function to add some new value to our set.
print(basket)

{'Avocado', 'Grapes', 45.65, 'Blue berries', 50, 'Apple', 'Pineapple', 'Banana', 'Papaya'}

In [ ]:
# Let's remove some value:
# To remove value from our set, we have 2 functions:
# remove()
# discard()

In [ ]:
basket.remove('Carrot')
# If element is not present in our set and if we try to remove it using remove() fxn
# it will give us an error.

KeyError: 'Carrot'

In [ ]:
basket.discard('Carrot')
# If element is not present in our set and if we try to remove it using discard() fxn
# it will not give us an error.
print(basket)

{'Avocado', 'Grapes', 45.65, 'Blue berries', 50, 'Apple', 'Pineapple', 'Banana', 'Papaya'}

In [ ]:
basket.discard(45.65)
print(basket)

{'Avocado', 'Grapes', 'Blue berries', 50, 'Apple', 'Pineapple', 'Banana', 'Papaya'}

In [ ]:
if 'Grapes' in basket:
    print('Grapes exist')
else:
    print("Grapes doesn't exist")

Grapes exist

In [ ]:
basket.remove(50)
print(basket)

{'Avocado', 'Grapes', 'Blue berries', 'Apple', 'Pineapple', 'Banana', 'Papaya'}

**Create a set, store 5-6 values, and then add 2 new values to your set and then remove 3 values use both remove and discard function**

In [ ]:
# Drawbacks:
# Sets are unordered
# Sets do not allow duplicates
# Sets do not allow us to access any particular value.

# **List**
**List are collection of data elements, list are ordered, mutable, allow duplicates.**

In [ ]:
name = ['Rahul','Akhil','Vaibhav','Kartik','Devansh','Akhil']
print(name)

['Rahul', 'Akhil', 'Vaibhav', 'Kartik', 'Devansh', 'Akhil']

In [ ]:
# Let's add some new value in our list.
name.append('Krutika')    # append() fxn is used in a list to add some new value
print(name)

['Rahul', 'Akhil', 'Vaibhav', 'Kartik', 'Devansh', 'Akhil', 'Krutika']

In [ ]:
# Let's remove a value from our list.
name.remove('Akhil') # if there are duplicate values, it will remove the first occurance.
print(name)

['Rahul', 'Vaibhav', 'Kartik', 'Devansh', 'Akhil', 'Krutika']

# **Indexing**

![image.png]()

In [ ]:
print(name)

['Rahul', 'Vaibhav', 'Kartik', 'Devansh', 'Akhil', 'Krutika']

In [ ]:
print(name[2])
print(name[5])
print(name[-2])
print(name[-5])

Kartik
Krutika
Akhil
Vaibhav

In [ ]:
# We want to update the name at 2nd index
name[2] = "Kabir"
print(name)

['Rahul', 'Vaibhav', 'Kabir', 'Devansh', 'Akhil', 'Krutika']

# **Slicing**

In [ ]:
places = ['Delhi','Coorg','Mysore','Dharamshala','Amritsar','Jaipur','Jaisalmer']
print(places)

['Delhi', 'Coorg', 'Mysore', 'Dharamshala', 'Amritsar', 'Jaipur', 'Jaisalmer']

In [ ]:
# starting_index = 2
# stopping_index = 6
print(places[2:6])

['Mysore', 'Dharamshala', 'Amritsar', 'Jaipur']

In [ ]:
# I want to fetch values from Delhi to Amritsar
print(places[:5])   # if you leave the left part of colon as empty it will start from the very first index by default

['Delhi', 'Coorg', 'Mysore', 'Dharamshala', 'Amritsar']

In [ ]:
print(places[4:])  # if you leave the right part of colon as empty it will go till the very last element by default.

['Amritsar', 'Jaipur', 'Jaisalmer']

In [ ]:
print(places[:])

['Delhi', 'Coorg', 'Mysore', 'Dharamshala', 'Amritsar', 'Jaipur', 'Jaisalmer']

In [ ]:
print(places[2:7:2])  # starting_Index, stopping_Index, step_Size

['Mysore', 'Amritsar', 'Jaisalmer']

In [ ]:
li = [10,20,30,40,50,60,70,80,90,100]
print(li[4:4])  #OP: ?
print(li[2:8:3])  #OP:

[]
[30, 60]

**Create a list, and add n values into this list by taking user input. Then add 2 new values in this list, remove the 3rd and 5th index value from this list.**

In [ ]:
# li.append(int(input()))

32

In [ ]:
n = int(input("Enter the numbers of values you want to add: "))
new_li = []
# For n number of times we need to take user input
for x in range(n):
    inp = input('Enter the value: ')
    new_li.append(inp)
    print('Value inserted:',inp)

tup = tuple(new_li)  # We converted our list into a Tuple.
print(tup)

Enter the numbers of values you want to add: 3
Enter the value: 10
Value inserted: 10
Enter the value: 20
Value inserted: 20
Enter the value: 30
Value inserted: 30
('10', '20', '30')

In [ ]:
print(new_li)

['Cherry', 'Papaya', 'Banana', 'Guava', 'Pomegrenete']

In [ ]:
new_li.extend(['Apple','Pine apple']) #extend fxn is used to add more than one value to your list
print(new_li)

['Cherry', 'Papaya', 'Banana', 'Guava', 'Pomegrenete', 'Apple', 'Pine apple']

In [ ]:
# We need to remove 3rd and 5th index element
new_li.remove('Guava')
print(new_li)

['Cherry', 'Papaya', 'Banana', 'Pomegrenete', 'Apple', 'Pine apple']

In [ ]:
new_li.pop(5)  # In pop fxn we can pass index and it will remove that element for us from our list.
print(new_li)

['Cherry', 'Papaya', 'Banana', 'Pomegrenete', 'Apple']

# **Tuple** Tuples are immutable, rest everything same as a list.

In [ ]:
data = ('user_1234','user_5678','user_7654','user_9860')
print(data)

('user_1234', 'user_5678', 'user_7654', 'user_9860')

In [ ]:
print(data[2])

user_7654

In [ ]:
data[2] = 'user_4589'
 #Because tuples are immutable.

TypeError: 'tuple' object does not support item assignment

In [ ]:
tup = (10,20,30,40,5)
li = [50,60,7,80,21,43,54,65]
agenda = 'We are learning Python'
# All these 3 are sequential data types
print(agenda[16:])

Python

In [ ]:
# Now we want to get the length of the data type
print(len(tup))
print(len(li))
print(len(agenda))

5
8
22

In [ ]:
person = {
    'name':'Kabir',
    'age':24,
    'job': 'Trainer',
    'emp_id':2546
}
person2 = {
    'name' : 'Rahul',
    'age' : 26,
    'job' : 'Doctor',
    'emp_id':2596
}
li = [person,person2]
print(li)

[{'name': 'Kabir', 'age': 24, 'job': 'Trainer', 'emp_id': 2546}, {'name': 'Rahul', 'age': 26, 'job': 'Doctor', 'emp_id': 2596}]

In [ ]:
# emp_id = int(input('Enter your '))
# for di in li:
#     for key in di:
#         if key ==

name Kabir
age 24
job Trainer
emp_id 2546
name Rahul
age 26
job Doctor
emp_id 2596

# **Functions**

In [ ]:
def Calculator():   # def -> define a function , Calculator -> Function name
    a = int(input('Enter first number: '))
    b = int(input('Enter second number: '))
    add = a+b
    sub = a-b
    mul = a*b
    print('Addition:',add)
    print('Subtraction:',sub)
    print('Multiplication:',mul)

In [ ]:
# If you want to execute your function, you need to call it.
Calculator()

Enter first number: 12
Enter second number: 5
Addition: 17
Subtraction: 7
Multiplication: 60

In [ ]:
def sum(a,b):  # a and b are parameters
    ans = a+b
    return ans   # We are returning the answer.

num1 = int(input('Enter first number: '))
num2 = int(input('Enter second number: '))
add = sum(num1,num2)
print(add)

Enter first number: 15
Enter second number: 18
33

**Crete a function which will return the multiplication table of a number stored inside a list. Make sure to pass that number as a parameter to the function**

In [ ]:
def multiplication_table(num):
    result = []
    for x in range(1,11):
        ans = num*x
        result.append(ans)
    return result

In [ ]:
output_li = multiplication_table(19)
print(output_li)

[19, 38, 57, 76, 95, 114, 133, 152, 171, 190]

In [ ]:
# Lambda Functions: Whenever you need to create small one line of function, we use lambda function.
# Syntax:
# func_name = lambda_keyword  parameters : approach

double_num = lambda x : x*2
print(double_num(23))

46

In [ ]:
check_even = lambda i : 'Even' if i%2== 0 else 'Odd'
print(check_even(245))

Odd

In [ ]:
sum = lambda a,b,c,d : a+b+c+d
print(sum(10,20,30,40))

100

In [ ]:
# 8:15 PM.