<a href="https://colab.research.google.com/github/karandeep1729/Python-Programming/blob/main/FileHandling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Intro to File Handling**

It means accessing your files by reading them, updating and or creating them.

Most real-world Python programs interact with files or folders - for saving data, reading or organizing documents.

Python makes file and folder operations simple. Helping us with:
1. Read/Write Files
2. Navigate folders and subfolders
3. Create, delete, move files/directories

**Real life scenarios/use-cases can be reading a csv file updating some txt files etc**

***File:*** A notebook (open, read, write, close)

***Directory:*** A shelf/folder that holds notebooks

## 1. ***Opening and Closing Files In Python***

In [ ]:
# Mode                  Meaning
# 'r'                   Read (Default Mode)
# 'w'                   Write (overwrites files)
# 'a'                   Append (adds to file)

In [ ]:
# Sytanx:
# var_name = open('file_name.txt','mode')

# do some operation with the file
# var_name.close()
# Closing the file

In [ ]:
script = open('PythonScriptDemo.txt','r')
print(script.read()) # We user read fxn to read the content of your file

This is a Python script, which contains details about Python.
Python is a high level Programming language.
Python is both interpreted and compiled language.
Python is easy to learn.
Python is case-sensitive.

In [ ]:
# We are done with reading
script.close()

In [ ]:
script.read() #Throws error

ValueError: I/O operation on closed file.

2. ## ***Reading a File***

In [ ]:
bike_info = open('MT15.txt','r')
print(bike_info.read())

Hardware - The MT15 comes with liquid cooling, fuel injection, Variable valve actuation (VVA), a 6-speed gearbox and disk brakes with ABS (single channel), LED headlights and taillights. (indicators are halogen though). It does miss that fancy rear swingarm that the V3, V4 get, but in my opinion it does not matter one bit.

Light weight – The MT is featherlight at 138 Kilos wet. Moving it around while trying to park is easy, with low weight you put little to no effort while riding the bike, and long city commutes / long rides don’t feel tiring at all.

Slipper clutch – The assist and slipper clutch makes life so much easier. The clutch is very easy to operate, and downshifts can be made easily at will. You must go out of your way to stall the engine in the city. Think you are going a little too fast for that corner? Down 2 gears, slow down without any complaints from the bike.

Gearbox – One of the slickest gearboxes I’ve operated on a bike. False neutrals are rare. Finding neutral is not a pain. The gearing is short, making things easy in the city. I could be wrong, but i feel gear 1 and 2 are short, gear 3 is long, 4 is short, 5 is a long gear will take you to near the top speed of the bike and then there's the fabled 6th gear. I’m very glad there’s a 6th gear. It helps the engine breathe a little easier when the rpms are high.

Handling – The same Deltabox frame that is present on the R15 services the MT too, and boy it’s fun to ride. The MT is very nimble and can change directions easily. While it does not inspire confidence at the same level of its faired sibling, be reasonable and plan a line before taking a corner, lean over and the MT will corner flawlessly.

Mileage – Arai figures are 52.02 kmpl. The console shows that average fuel consumption on the panel is 1.8L / 100kms. Comes to around - 55kmpl. I’ll be honest. I haven’t tried a tank to tank, realistically the worst it could be is 40. But there are instances on youtube where people claim to get numbers close to high fifties. These VVA engines are quite efficient.

In [ ]:
# Context Manager "with statement" directly opens and closes the file

with open('MT15.txt','r') as f:
    content = f.read()
    print(content) #File will be closed after this

Hardware - The MT15 comes with liquid cooling, fuel injection, Variable valve actuation (VVA), a 6-speed gearbox and disk brakes with ABS (single channel), LED headlights and taillights. (indicators are halogen though). It does miss that fancy rear swingarm that the V3, V4 get, but in my opinion it does not matter one bit.

Light weight – The MT is featherlight at 138 Kilos wet. Moving it around while trying to park is easy, with low weight you put little to no effort while riding the bike, and long city commutes / long rides don’t feel tiring at all.

Slipper clutch – The assist and slipper clutch makes life so much easier. The clutch is very easy to operate, and downshifts can be made easily at will. You must go out of your way to stall the engine in the city. Think you are going a little too fast for that corner? Down 2 gears, slow down without any complaints from the bike.

Gearbox – One of the slickest gearboxes I’ve operated on a bike. False neutrals are rare. Finding neutral is not a pain. The gearing is short, making things easy in the city. I could be wrong, but i feel gear 1 and 2 are short, gear 3 is long, 4 is short, 5 is a long gear will take you to near the top speed of the bike and then there's the fabled 6th gear. I’m very glad there’s a 6th gear. It helps the engine breathe a little easier when the rpms are high.

Handling – The same Deltabox frame that is present on the R15 services the MT too, and boy it’s fun to ride. The MT is very nimble and can change directions easily. While it does not inspire confidence at the same level of its faired sibling, be reasonable and plan a line before taking a corner, lean over and the MT will corner flawlessly.

Mileage – Arai figures are 52.02 kmpl. The console shows that average fuel consumption on the panel is 1.8L / 100kms. Comes to around - 55kmpl. I’ll be honest. I haven’t tried a tank to tank, realistically the worst it could be is 40. But there are instances on youtube where people claim to get numbers close to high fifties. These VVA engines are quite efficient.

In [ ]:
# f.read()
content

"Hardware - The MT15 comes with liquid cooling, fuel injection, Variable valve actuation (VVA), a 6-speed gearbox and disk brakes with ABS (single channel), LED headlights and taillights. (indicators are halogen though). It does miss that fancy rear swingarm that the V3, V4 get, but in my opinion it does not matter one bit.\n\nLight weight – The MT is featherlight at 138 Kilos wet. Moving it around while trying to park is easy, with low weight you put little to no effort while riding the bike, and long city commutes / long rides don’t feel tiring at all.\n\nSlipper clutch – The assist and slipper clutch makes life so much easier. The clutch is very easy to operate, and downshifts can be made easily at will. You must go out of your way to stall the engine in the city. Think you are going a little too fast for that corner? Down 2 gears, slow down without any complaints from the bike.\n\nGearbox – One of the slickest gearboxes I’ve operated on a bike. False neutrals are rare. Finding neutral is not a pain. The gearing is short, making things easy in the city. I could be wrong, but i feel gear 1 and 2 are short, gear 3 is long, 4 is short, 5 is a long gear will take you to near the top speed of the bike and then there's the fabled 6th gear. I’m very glad there’s a 6th gear. It helps the engine breathe a little easier when the rpms are high.\n\nHandling – The same Deltabox frame that is present on the R15 services the MT too, and boy it’s fun to ride. The MT is very nimble and can change directions easily. While it does not inspire confidence at the same level of its faired sibling, be reasonable and plan a line before taking a corner, lean over and the MT will corner flawlessly.\n\nMileage – Arai figures are 52.02 kmpl. The console shows that average fuel consumption on the panel is 1.8L / 100kms. Comes to around - 55kmpl. I’ll be honest. I haven’t tried a tank to tank, realistically the worst it could be is 40. But there are instances on youtube where people claim to get numbers close to high fifties. These VVA engines are quite efficient.\n"

In [ ]:
# Reading a specific line
with open('MT15.txt','r') as dummy:
    print(dummy.readline())

Hardware - The MT15 comes with liquid cooling, fuel injection, Variable valve actuation (VVA), a 6-speed gearbox and disk brakes with ABS (single channel), LED headlights and taillights. (indicators are halogen though). It does miss that fancy rear swingarm that the V3, V4 get, but in my opinion it does not matter one bit.

In [ ]:
# If you want to store every line one by one into a list
with open('MT15.txt','r') as dummy:
    lines_list = dummy.readlines()

In [ ]:
print(lines_list)

['Hardware - The MT15 comes with liquid cooling, fuel injection, Variable valve actuation (VVA), a 6-speed gearbox and disk brakes with ABS (single channel), LED headlights and taillights. (indicators are halogen though). It does miss that fancy rear swingarm that the V3, V4 get, but in my opinion it does not matter one bit.\n', '\n', 'Light weight – The MT is featherlight at 138 Kilos wet. Moving it around while trying to park is easy, with low weight you put little to no effort while riding the bike, and long city commutes / long rides don’t feel tiring at all.\n', '\n', 'Slipper clutch – The assist and slipper clutch makes life so much easier. The clutch is very easy to operate, and downshifts can be made easily at will. You must go out of your way to stall the engine in the city. Think you are going a little too fast for that corner? Down 2 gears, slow down without any complaints from the bike.\n', '\n', "Gearbox – One of the slickest gearboxes I’ve operated on a bike. False neutrals are rare. Finding neutral is not a pain. The gearing is short, making things easy in the city. I could be wrong, but i feel gear 1 and 2 are short, gear 3 is long, 4 is short, 5 is a long gear will take you to near the top speed of the bike and then there's the fabled 6th gear. I’m very glad there’s a 6th gear. It helps the engine breathe a little easier when the rpms are high.\n", '\n', 'Handling – The same Deltabox frame that is present on the R15 services the MT too, and boy it’s fun to ride. The MT is very nimble and can change directions easily. While it does not inspire confidence at the same level of its faired sibling, be reasonable and plan a line before taking a corner, lean over and the MT will corner flawlessly.\n', '\n', 'Mileage – Arai figures are 52.02 kmpl. The console shows that average fuel consumption on the panel is 1.8L / 100kms. Comes to around - 55kmpl. I’ll be honest. I haven’t tried a tank to tank, realistically the worst it could be is 40. But there are instances on youtube where people claim to get numbers close to high fifties. These VVA engines are quite efficient.\n']

## 3.  ***Writing to Files***

In [ ]:
# Syntax:
# file_var = open('filename','w')
# file_var.write(data)
# file_var.close()

In [ ]:
with open('New.txt','w') as f: # It will create a new file named as New.txt if it doesn't exist
    f.write('Hello to Everone')
    f.write('This is how we write some content in our txt file using Python')

In [ ]:
new_file = open('New.txt','w')

In [ ]:
new_file.write('We are learning File handling')
new_file.close()

In [ ]:
new_file = open('New.txt','r')
print(new_file.read())

We are learning File handling

In [ ]:
new_file.close()

In [ ]:
new_file = open('New.txt','a') #Update your txt file
new_file.write('. It is very crucial to understand core concepts of Python/')

59

In [ ]:
new_file.close()

In [ ]:
new_file = open('New.txt','r')
print(new_file.read())

We are learning File handling. It is very crucial to understand core concepts of Python/

In [ ]:
new_file.close()

In [ ]:
new_file = open('New.txt','a')
new_file.write("\n"+'With Python we can do various operations')
# \n will save your input in the next line.

41

In [ ]:
new_file.close()
new_file = open('New.txt','r')
print(new_file.read())

We are learning File handling. It is very crucial to understand core concepts of Python/
With Python we can do various operations

In [ ]:
t = open('New.txt')
t.readlines()

['We are learning File handling. It is very crucial to understand core concepts of Python/\n',
 'With Python we can do various operations']

## 4. ***File Handling Exceptions***

In [ ]:
t = open('myfile.txt','r')

FileNotFoundError: [Errno 2] No such file or directory: 'myfile.txt'

In [ ]:
try:
    with open('myfile.txt','r') as f:
        print(f.read())

except FileNotFoundError:
    print('File Not Found')

File Not Found

In [ ]:
try:
    with open('New.txt','r'):
        print('File ')

except FileNotFoundError:
    print('File Missing')

else:
    print('File Read Succesfully')

finally:
    print('Finished File Operation')

File Read Succesfully
Finished File Operation

In [ ]:
with open('New.txt','r'):
        print('File Opened succesfuly')
        # This works, but you won't be able to access the material/content.

File Opened succesfuly

## **Working with Directories**

In [ ]:
import os   #Operation System

In [ ]:
print(os.getcwd())
# cwd -> Current Working Directory

/content

In [ ]:
# Creation of new directory/folder

os.mkdir("NewFolder") # Is used to create new directories.
# mkdir -> Make Directory

In [ ]:
os.chdir("NewFolder")

In [ ]:
print(os.getcwd())

/content/NewFolder

In [ ]:
os.mkdir('PythonCourseMaterial')

In [ ]:
os.chdir('PythonCourseMaterial')

In [ ]:
print(os.getcwd())

/content/NewFolder/PythonCourseMaterial

In [ ]:
os.mkdir('DummyFolder')

In [ ]:
# Now we want to remove this dummy folder

os.rmdir('DummyFolder') # rmdir is used to remove a folder

In [ ]:
# Create a new directory as PythonCourse
# From your main directory switch to this PythonCourseDirectory
# Inside this directly create a new txt and file and write into the same.

In [ ]:
print(os.getcwd())

/content/NewFolder/PythonCourseMaterial

In [ ]:
os.chdir('..')  # Get us to the previous directory (Outer Directory)

In [ ]:
print(os.getcwd())

/content/NewFolder

In [ ]:
os.chdir('PythonCourseMaterial')

In [ ]:
print(os.getcwd())

/content/NewFolder/PythonCourseMaterial

In [ ]:
os.chdir('/content') #Jumping directly to home directory.

In [ ]:
print(os.getcwd())

/content

In [ ]:
os.mkdir('PythonCourse')

In [ ]:
os.chdir('PythonCourse')

In [ ]:
with open ('Syllabus.txt','w') as f:
    f.write('File Handling Exception Handling and hands on')

In [ ]:
content = open('Syllabus.txt','r')
content.readlines()

['File Handling Exception Handling and hands on']

In [ ]:
data = open('Sample.txt','w')
data.write('Hello    World')

14

## ***Using the shutil module in Python***

The shutit module allows high level file operations such as:
1. Copying Files/Folders
2. Moving Files/Folder
3. Deleting Files/Folder

In [ ]:
import shutil

In [ ]:
# Creating a copy file
# shutil.copy('source.txt','destination.txt')
print(os.getcwd())

/content/PythonCourse

In [ ]:
shutil.copy('Syllabus.txt','Content.txt')
# Copying a file

'Content.txt'

In [ ]:
os.chdir('..')

In [ ]:
print(os.getcwd())

/content

In [ ]:
# Let's create a copy of the folder Python
shutil.copytree("PythonCourse","UpdatedCourse")

'UpdatedCourse'

In [ ]:
os.chdir('UpdatedCourse')

In [ ]:
print(os.getcwd())

/content/UpdatedCourse

In [ ]:
# Let's move the sample.txt from Updated Course to New Fold
info = open('Sample.txt','r')
info.readline()

'Hello World'

In [ ]:
os.mkdir('Dummy')

In [ ]:
shutil.move('Sample.txt','Dummy/new_sample.txt')

'Dummy/new_sample.txt'

In [ ]:
shutil.move('Content.txt','../NewFolder/Content.txt')
# .. -> Going to the outer directory

'../NewFolder/Content.txt'

In [ ]:
print(os.getcwd())

/content/UpdatedCourse

In [ ]:
os.chdir('..')

In [ ]:
print(os.getcwd())

/content

In [ ]:
shutil.rmtree('PythonCourse')

**You are developing a Python tool that logs user activities in a text file every time they run your script. How will you append the activity User logged in at 10:00 AM to a file named log.txt**

In [ ]:
with open('Log.txt','a') as f:
    f.write('User Logged in at 10:00 AM \n')

**You created a folder named Reports and now you want to swtich into Reports folder and create a file named as summary.txt with the line "Monthly Sales Report".**

In [ ]:
print(os.getcwd())

/content

In [ ]:
os.mkdir('Reports')

In [ ]:
os.chdir('Reports')

In [ ]:
with open('Summary.txt','w') as f:
    f.write('Monthly Sales Report')

**You are building a Python-Based invoice management system**

* **Create a Folder ('Invoices_2025')**
* **Create a file invoice.txt inside it write some information**
* **Create a back up folder ('Invoices Back Up')**
* **Copy the entire folder into the back up folder**
* **Delete the original file**
* **Delete the original folder**

In [ ]:
os.getcwd()

'/content/Reports'

In [ ]:
os.chdir('..')

In [ ]:
os.mkdir('Invoices_2025')

In [ ]:
with open('Invoices_2025/invoice.txt','w') as f:
    f.write('Invoice #5324: Amount 956')

In [ ]:
shutil.copytree('Invoices_2025','Invoices2025BackUp')

'Invoices2025BackUp'

In [ ]:
os.remove('Invoices_2025/invoice.txt')

In [ ]:
os.rmdir('Invoices_2025')

## **Reading a csv file**

**Dataset URL:** https://drive.google.com/file/d/1JAezCQjr5uCdUW_bOOc4XCNRbsTgDYSA/view?usp=sharing

In [ ]:
!pip install pandas

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('cars.csv')

In [ ]:
df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [ ]:
# Information about this dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   model   32 non-null     object
 1   mpg     32 non-null     float64
 2   cyl     32 non-null     int64
 3   disp    32 non-null     float64
 4   hp      32 non-null     int64
 5   drat    32 non-null     float64
 6   wt      32 non-null     float64
 7   qsec    32 non-null     float64
 8   vs      32 non-null     int64
 9   am      32 non-null     int64
 10  gear    32 non-null     int64
 11  carb    32 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB

In [ ]:
# Any string column which contains alphabets or anywhere if the values are stored inside ""
# Data type of that column will be "Object"


#Accessing a particular column
df['model']

0               Mazda RX4
1           Mazda RX4 Wag
2              Datsun 710
3          Hornet 4 Drive
4       Hornet Sportabout
5                 Valiant
6              Duster 360
7               Merc 240D
8                Merc 230
9                Merc 280
10              Merc 280C
11             Merc 450SE
12             Merc 450SL
13            Merc 450SLC
14     Cadillac Fleetwood
15    Lincoln Continental
16      Chrysler Imperial
17               Fiat 128
18            Honda Civic
19         Toyota Corolla
20          Toyota Corona
21       Dodge Challenger
22            AMC Javelin
23             Camaro Z28
24       Pontiac Firebird
25              Fiat X1-9
26          Porsche 914-2
27           Lotus Europa
28         Ford Pantera L
29           Ferrari Dino
30          Maserati Bora
31             Volvo 142E
Name: model, dtype: object

In [ ]:
# Print the first 5 rows of your dataframe
df.head()  # head fxn by default print the first 5 rows of your df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [ ]:
# Print the last 5 rows of your dataframe
df.tail()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.5,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.5,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.6,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.6,1,1,4,2