<a href="https://colab.research.google.com/github/karandeep1729/Python-Programming/blob/main/RegularExpressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Regular Expressions are the pattersn used to match and manipulate text**

In [ ]:
import re

pattern = r"pattern"  #raw string
data = "information"

result = re.findall(pattern,data)

result

[]

**Special Characters**

In [ ]:
# Dot (.) -> Matches any character

data = "bat, bet, biat, bot, byte"

print(re.findall(r"b..t",data))
# This . can be replaced via any character

['biat']

In [ ]:
# Square Bracket [] -> Character Set

info = "cat, cutt, cut, cpt,  cbt"

print(re.findall(r"c[a,p,u]t",info))

['cat', 'cut', 'cut', 'cpt']

In [ ]:
# Escape \

text = "Order Bill is 1.5678"
print(re.findall(r"\.",text))
# . -> Any character
# \. -> Means a literal dot

['.']

In [ ]:
# Hyphen - inside []

# Used to define range inside character sets []

# [0-9]
# [a-z]
# [A-Z]

data = "a 3 b 1 8 C d I f, x"

print(re.findall(r"[1-5]",data))
print(re.findall(r"[a-f]",data))
print(re.findall(r"[A-D]",data))

['3', '1']
['a', 'b', 'd', 'f']
['C']

In [ ]:
# Character Classes

address = "My Pin Code is 3240t01 and my age is 25"

# \d -> Used to fetch digits

print(re.findall(r"\d",address))
print(re.findall(r"\d\d",address))
print(re.findall(r"\d\d\d",address))
print(re.findall(r"\d+",address))
print(re.findall(r"\D+",address))  # No Numbers/Digits

['3', '2', '4', '0', '0', '1', '2', '5']
['32', '40', '01', '25']
['324']
['3240', '01', '25']
['My Pin Code is ', 't', ' and my age is ']

In [ ]:
# Word Characters \w-> Words

weather = "Today it's 48!! degree"

print(re.findall(r"\w",weather))
print(re.findall(r"\w+",weather))
print(re.findall(r"\W",weather))

['T', 'o', 'd', 'a', 'y', 'i', 't', 's', '4', '8', 'd', 'e', 'g', 'r', 'e', 'e']
['Today', 'it', 's', '48', 'degree']
[' ', "'", ' ', '!', '!', ' ']

In [ ]:
# Whitespace \s

info = "Name: Kartik Age: 26   "
print(re.findall(r"\s+",info))
print(re.findall(r"\S+",info))

# S D W -> Negations

[' ', ' ', ' ', '   ']
['Name:', 'Kartik', 'Age:', '26']

In [ ]:
# in the given string count the numbers of spaces we have
spaces = "We are learning Regular Expressions which is also known as Regex."
total_spaces = re.findall(r"\s",spaces)
print(len(total_spaces))

10

In [ ]:
# In the given names find all the word fy
words = "magnify classify scatter flying lying"
print(re.findall(r"fy",words))

['fy', 'fy']

In [ ]:
# From the string extract all the digits in group of 2.
string = "abs23, a32b1be33, fd78320r212n3, 3b30dm11"
print(re.findall(r"\d\d",string))

['23', '32', '33', '78', '32', '21', '30', '11']

**Quantifiers**

In [ ]:
# * -> 0 or more Greedy
alphabets = "ab b aaaabc"
print(re.findall(r"a*b",alphabets))

['ab', 'b', 'aaaab']

In [ ]:
# ? -> Yes/No 0/1 To make any characeter optional

words = "color, col5ur, collar"
print(re.findall(r"colou?r",words))

['color']

In [ ]:
print(re.findall(r"col.*r",words))

['color, col5ur, collar']

In [ ]:
# {n} -> Exact count

numbers = "123 4567 895678"
print(re.findall(r"\d{6}",numbers))

['895678']

In [ ]:
numbers = "123 45  67895678 9 8"
# {n,} -> At least n digits
print(re.findall(r"\d{3,}",numbers))

['123', '67895678']

In [ ]:
# {n,m} -> Between n and m
numbers = "563 83742  732632218 73232  3832  1373  93  932 38"
print(re.findall(r"\d{3,5}",numbers))

['563', '83742', '73263', '2218', '73232', '3832', '1373', '932']

**Anchors**

In [ ]:
# Caret ^  -> From where it's starting
# Dollar $  -> Where it's ending
# String Boundaries

text = "Hello World"

print(re.findall(r"^He",text))
print(re.findall(r"World$",text))

['He']
['World']

In [ ]:
# Word Boundary \b

words = "cat scatter cater"
print(re.findall(r"\bcat\b",words))
# Here the first cat has been selected because it is at word boundary

['cat']

In [ ]:
words = "cate scatter cater"
print(re.findall(r"\Bcat\B",words))
# Cat has selected from scatter as it's not at word boundaries

['cat']

**Grouping and Clustering**

In [ ]:
# Paretheses ()
# They can do two things
# (a) Grouping: Allow you to group parts of pattern together
#  (ab+) =>
# (b) -> Multiple Grouping

In [ ]:
alphabets = "abab abc ab ababab abababab"
print(re.findall(r"(abab)+",alphabets))

['abab', 'abab', 'abab']

In [ ]:
# Multiple Groups in Regex
info = "Name: Rahul, Age: 16"
print(re.findall(r"Name: (\w+), Age: (\d+)",info))

[('Rahul', '16')]

In [ ]:
infos = "Name: Rahul, Age: 16 | Name: Kartik, Age: 25"
print(re.findall(r"Name: (\w+), Age: (\d+)",infos))

[('Rahul', '16'), ('Kartik', '25')]

In [ ]:
words ="cat scatter cater matter! better scooter"

# Select all the words that contains tter
print(re.findall(r"\b\w*tter\w*\b",words))

['scatter', 'matter', 'better']

**Alteration**

In [ ]:
# (|)
animals = "cat dog bat rat"

print(re.findall(r"cat|dog|rat",animals))

['cat', 'dog', 'rat']

In [ ]:
words = "gray grey great"
print(re.findall(r"(a|e)y",words))

['gray', 'grey']

In [ ]:
files = "report.doc image.png data.csv notes.txt"

# We want to select the doc, png , csv
print(re.findall(r"\w+\.(doc|png|csv)",files))

['doc', 'png', 'csv']

In [ ]:
# Non-Capturing Group "?:"

print(re.findall(r"\w+\.(?:doc|png|csv)",files))

['report.doc', 'image.png', 'data.csv']

**Lookarounds**

In [ ]:
# Conditions

# (?=) -> Positive Lookahead

words = "apple pie, apple juice, apple watch"
print(re.findall(r"apple(?= pie)",words))

['apple']

In [ ]:
## (?!) -> Negative Lookahead

words = "apple pie, apple juice, apple watch"
print(re.findall(r"apple(?! pie)",words))

['apple', 'apple']

In [ ]:
# (?<=) -> Positive Lookbehind
names = "Mr. Kartik, Dr. Haritabh, Mrs. Pooja"

print(re.findall(r"(?<=Dr\. )\w+",names))

['Haritabh']

In [ ]:
# (?>=) -> Negative Lookbehind



names = "Mr. Kartik, Dr. Haritabh, Mrs. Pooja"

matches = re.findall(r"(?<!Dr\. )\w+", names)

print(matches)

['Mr', 'Kartik', 'Dr', 'aritabh', 'Mrs', 'Pooja']

In [ ]:
names = "Mr. Kartik, Dr. Haritabh, Mrs. Pooja"

print(re.findall(r"(?:Mr\. | Mrs\. )\w+",names))

['Mr. Kartik', ' Mrs. Pooja']

In [ ]:
emails = ["test@example.com", "kartik@domain.org" , "invalid.email@com"]

# ^ -> words
# [\w\.]
# +
pattern = r"^[\w\.]+@[\w\.]+\.\w{2,}$"
for x in emails:
    print(x, bool(re.match(pattern,x)))

test@example.com True
kartik@domain.org True
invalid.email@com False